<h2 mat-dialog-title>{{ data ? 'Edit Loan' : 'Add Loan' }}</h2>
<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Bank</mat-label>
      <mat-select formControlName="bank" required>
        <mat-option *ngFor="let bank of banks" [value]="bank.id">
          {{ bank.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Monthly EMI</mat-label>
      <input matInput type="number" formControlName="monthlyEmi">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="loanForm.invalid">
      {{ data ? 'Update' : 'Save' }}
    </button>
  </mat-dialog-actions>
</form>
