<div class="vh-100 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img src="../../../assets/logo/logo.png" width="40px" alt="">
    <span class="ml-2 fs-4">Finance Buddy</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <div class="nav-link d-flex align-items-center text-white pointer" [routerLink]="['/home']" routerLinkActive="active">
        <mat-icon class="sidebar-icon" aria-hidden="false" fontIcon="home"></mat-icon>
        <span class="ml-1">Home</span>
      </div>
    </li>
    <li class="my-2">
      <div class="nav-link d-flex align-items-center text-white pointer" [routerLink]="['/loans']" routerLinkActive="active">
        <mat-icon class="sidebar-icon" fontIcon="attach_money"></mat-icon>
        <span class="ml-1">Loans</span>
      </div>
    </li>
    <li>
      <div class="nav-link d-flex align-items-center text-white pointer" [routerLink]="['/expense']" routerLinkActive="active">
        <mat-icon class="sidebar-icon" fontIcon="pie_chart"></mat-icon>
        <span class="ml-1">Expenses</span>
      </div>
    </li>
  </ul>
  <hr>
  <div>
    <div class="d-flex align-items-center text-white text-decoration-none">
      <img src='{{user?.picture}}' alt="" width="32" height="32" class="rounded-circle me-2">
      <strong class="ml-1">{{user?.name}}</strong>
    </div>
  </div>
</div>
